body {
    background: #fff;
    font-family: sans-serif;
    font-size: 0.95em;}

table {
	border-collapse: collapse;
    width: 775px;
    margin: 20px auto 0px auto;}

td {
    padding: 4px;
    vertical-align:middle;
    text-align:center;}

table td {
    border-width: 1px;
    border-style: solid;
    border-color: #CDCDDA;
    background: #fafaff;}

td a {display: block;}

td.empty {
    background: #fff;
    border-width:0px;}

.vervolg0 {background-color: #88b;}
.vervolg1 {background-color: #99c;}
.vervolg2 {background-color: #aad;}
.vervolg3 {background-color: #bbe;}
.vervolg4 {background-color: #ddf;}

a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: #303030;}
a:active {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: blue;}
